<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MaterialMeasurementTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <connectionStrings>
    <add name="MaterialMeasurementEntities" connectionString="metadata=res://*/MaterialMeasurementEntities.csdl|res://*/MaterialMeasurementEntities.ssdl|res://*/MaterialMeasurementEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LINHNVSE61247;initial catalog=Material-Measurement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MaterialMeasurementEntities" connectionString="metadata=res://*/MaterialMeasurementEntities.csdl|res://*/MaterialMeasurementEntities.ssdl|res://*/MaterialMeasurementEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.254.180.173;initial catalog=Material-Measurement;persist security info=True;user id=sa;password=avadakedavra;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MaterialMeasurementTool.Properties.Settings>
      <setting name="WeightDeviation" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="WeightCapacity" serializeAs="String">
        <value>3</value>
      </setting>
    </MaterialMeasurementTool.Properties.Settings>
  </userSettings>
</configuration>